---

---

<footer class="flex gap-3 prose prose-xs prose-gray">
  <a href="https://changing-cities.org/impressum">Impressum</a>
  <details>
    <summary class="underline cursor-pointer">Datenschutz</summary>
     TODO
  </details>
</footer>
