---
import Layout from '../layouts/Layout.astro'
import { Map } from '../components/Map/Map.tsx'
import { Filter } from '../components/Map/Filter.tsx'
import { About } from '../components/About'
---

<Layout title="Changing Cities Radverkehrs Monitoring">
  <main class="relative flex">
    <About client:load />
    <div class="relative w-full h-screen">
      <Map client:load />
      <Filter client:load />
    </div>
  </main>
</Layout>
