---
import Layout from '../layouts/Layout.astro'
import { Map } from '../components/Map/Map.tsx'
import { Overlay } from '../components/Map/Overlay.tsx'
---

<Layout title="Changing Cities Radverkehrs Monitoring">
  <main class="relative flex">
    <div class="relative h-screen w-full">
      <Map client:load />
      <Overlay client:load />
    </div>
  </main>
</Layout>
