---
import Layout from '../layouts/Layout.astro'
import { Map } from '../components/Map/Map.tsx'
import Footer from '../components/Footer.astro'
import { Filter } from '../components/Map/Filter.tsx'
---

<Layout title="Changing Cities Radverkehrs Monitoring">
  <main class="w-full h-screen relative flex">
    <h1
      class="absolute top-4 left-14 z-10 font-normal text-xl font-display leading-[1.55rem] text-ccBlue-600"
      style={{
        textShadow: '-2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white',
      }}
    >
      <div class="text-ccOrange-600">Changing Cities</div>
       Monitoring des Berliner Radnetzes
    </h1>
    <Map client:load />
    <Filter client:load />
    <!-- <details class="text-xs leading-normal text-ccTypo">
          <summary class="underline hover:no-underline cursor-pointer">Details…</summary>
           Das Monitoring berücksichtigt nur fertiggestellte Radwege seit 2018. Es betrachtet die
          baulichen Standard Breite, Führungsform, Oberlfäche und bewertet Maßnahmen zur Vermeidung
          von Konflikten mit Kfz. Die Bewertung erfolgt in den Kategorien "Erfüllt", "Teilweise
          erfüllt", "Nicht erfüllt".
        </details> -->
    <Footer />
  </main>
</Layout>
