---
import Layout from '../layouts/Layout.astro'
import { Map } from '../components/Map.tsx'
import Footer from '../components/layout/Footer.astro'
---

<Layout title="Changing Cities Radverkehrs Monitoring">
  <main class="max-w-prose">
    <h1>Changing Cities Radverkehrs Monitoring</h1>
    <Map />
    <Footer />
  </main>
</Layout>
