---
import svgLogo from './assets/logo.svg'
---

<footer class="flex items-end gap-5 prose prose-xs prose-gray text-xs">
  <img src={svgLogo.src} alt="Changing Cities" class="h-20 p-0 m-0" />
  <div>
    <a href="https://changing-cities.org/impressum">Impressum</a>
    <br />
    <a href="/datenschutz">Datenschutz</a>
  </div>
</footer>
