---
// import svgLogo from './assets/logo.svg'
---

<footer class="absolute left-2.5 bottom-1 text-xs">
  <!-- <img src={svgLogo.src} alt="Changing Cities" class="h-20 p-0 m-0" /> -->
  <a href="https://changing-cities.org/impressum">Impressum</a>
   &centerdot;
  <a href="/datenschutz">Datenschutz</a>
</footer>
